<section *ngIf = "songs.songsUpdated" class = "container section-records">
  <div *ngIf = "songs.list['resultCount']" class="inner-records">
    <p class="song-counter">Found {{songs.list['resultCount']}} songs</p>
    <div class="main-wrap-records">
      <app-record
       *ngFor = "let track of displayedTracks"
       [trackData] = "track"></app-record>
    </div>
    <div class="paginationBox">
      <button (click) = "changeTracks('previous')"
       [disabled] = "displayedTracksIndexes[0] <= 0" >< < prev</button>
      <button (click) = "changeTracks('next')"
       [disabled] = "displayedTracksIndexes[1] >= songs.list['resultCount']">next > ></button>
    </div>
  </div>
  <p *ngIf = "songs.list['resultCount']===0" class="informing-paragraph"> Sorry, no matches found.</p>
</section>
