.header-search{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  background: #2d2d2d;
  height: 204px;
}
.header-search > h1{
  font-size: 26px;
  font-weight: 600;
}
.header-search > p{
  font-weight: 100;
  font-size: 14px;
}
.search{
  display: flex;
  justify-content: center;
}
.search > input, .search > button{
  height: 40px;
  border: none;
  outline: none;
}
.search > button{
  background: #f7941d;
  color: #fff;
  font-size: 14px;
  border-radius: 0 20px 20px 0;
  width: 80px;
  cursor: pointer;
}
.search > input{
  color: #3c3b3b;
  background: #f0f0f0;
  border-radius: 20px 0 0 20px;
  width: 190px;
  padding-left: 20px;
}
